@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;

@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

h2 {
  @apply text-3xl uppercase  text-white leading-7 tracking-widest;
}

th {
  @apply text-3xl uppercase text-white py-8 tracking-widest font-thin;
}

td:last-child {
  @apply hover:bg-lightBlue/70 hover:cursor-pointer;
}

table tbody tr:nth-child(even) {
  @apply bg-[#191717];
}

table tbody tr:nth-child(odd) {
  @apply bg-gray-500/50;
}

table tbody tr:hover {
  @apply bg-purple/80;
}

td {
  @apply text-center p-2 py-6;
}

body {
  @apply bg-[#191717] text-white font-orbitron font-light mb-20;
}

.inputFields {
  @apply outline-none bg-slate-400/10 rounded-2xl text-center border-b p-2 border-[#191717] shadow shadow-purple text-lightBlue sm:text-3xl text-xl sm:w-36 w-28 placeholder-gray-500 place-content-stretch transition-all focus:border-gray-400;
}

.headText {
  @apply text-4xl sm:text-5xl text-center underline underline-offset-[5px] sm:underline-offset-[10px] decoration-purple text-white tracking-wide sm:tracking-[20px] uppercase;
}

.sizingInputContainer {
  @apply flex flex-col sm:flex-row justify-center items-center border rounded-2xl border-gray-600 shadow-lg shadow-gray-600 sm:p-6 sm:space-x-16 p-5;
}

.tableHeading {
  @apply text-3xl underline underline-offset-[10px] decoration-purple text-white tracking-[20px] uppercase;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
